.pin {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 3.6em;
  height: 3.6em;
  font-size: 0.7em;
  font-weight: bold;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(black, 0.9);
}

.info_window {
  position: absolute;
  z-index: 1;
}



table {
  border:none;
  border-collapse: collapse;
}

table td {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

table td:first-child {
  border-left: none;
}

table td:last-child {
  border-right: none;
}